.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-15 {
  margin: 15px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.tag {
  color: #fff;
}

.tag .badge-color1 {
  background-color: #9b59b6;
}

.tag .badge-color2 {
  background-color: #3498db;
}

ul.postAction {
  margin-left: -30px;
}

li.postactionItem {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.postactionItem .fa {
  font-size: 2rem;
  margin-right: 10px;
}

.text-bold {
  font-weight: bold;
}

.text-secondary {
  color: #363838;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .m-t-15,
  .m-b-15,
  .m-l-15,
  .m-r-15,
  .m-15,
  .m-l-0,
  .m-r-10,
  .m-l-10,
  .m-b-10 {
    margin: 10px;
  }

  .postactionItem .fa {
    font-size: 1.5rem;
    margin-right: 5px;
  }
}

/* Estilos para telas muito pequenas */
@media screen and (max-width: 480px) {
  .m-t-15,
  .m-b-15,
  .m-l-15,
  .m-r-15,
  .m-15,
  .m-l-0,
  .m-r-10,
  .m-l-10,
  .m-b-10 {
    margin: 5px;
  }

  .postactionItem .fa {
    font-size: 1rem;
    margin-right: 2px;
  }
}
